<link rel="stylesheet" type="text/css" href="css/navbar.css" />
<nav class="navbar-container">
    <input type="checkbox" aria-label="Toggle navbar" />
    <span></span>
    <span></span>
  
    
    <a href="#" class="navbar-logo">
      <img src="." alt="Krazy Diamond Store Logo"/>
    </a>
  
    <div class="navbar">
        <ul>
            <li>
                <a href="#home">
                Home
                </a>
            </li>
            <li>
                <a href="#about">
                About
                </a>
            </li>
            <li>
                <a href="#shop">
                Shop
                </a>
            </li>
            <li>
                <a href="#login">
                Login
                </a>
            </li>
        </ul>
    </div>
  </nav>